@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.component-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.component-inner-container {
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 272px;
    height: 272px;
    justify-content: center;
    gap: 20px;
    border-radius: 20px;
    border: 1px solid #3E3D3E;
    background: white;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.icons-container {
    display: flex;
    position: relative;
    margin-top: 27px;
}

.icon {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 57px;
    height: 57px;
    gap: 8px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    border-radius: 800px;
    border: 1px solid black;
}

.vue-icon {
    margin-top: -27px;
}

.myop-icon {
    z-index: 1;
    margin-left: -20px;
}

.vue-icon svg, .myop-icon svg {
    width: 24px;
    height: 24px;
}

.content-text {
    text-align: center;
}

.title {
    margin: 0;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.subtitle {
    margin: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    color: #000;
    letter-spacing: 0.05px;
}

.buttons-container {
    display: flex;
    gap: 8px;
}

.btn {
    border: 1px solid #5A595B;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s;
    border-radius: 40px;
}

.btn-outline {
    padding: 6px 12px;
    background-color: white;
    color: #0A090A;
}

.btn-outline:hover {
    background-color: #f5f5f5;
}

.btn-primary {
    padding: 6px 18px;
    color: white;
    background-color: #343738;
}

.btn-primary:hover {
    background-color: black;
}
