@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

.component-container {
    font-family: 'Plus Jakarta Sans';
    position: relative;
}

.icons-container {
    position: absolute;
    top: 25px;
    left: 333px;
    background-color: #41B883;
    width: 159px;
    height: 156px;
    border-radius: 24px;
}

.icon-container {
    background-color: #fff;
    border-radius: 20px;
    width: 95px;
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 8px 0px #00000040;
    position: absolute;
}

.icon-container > .icon > svg {
    width: 70px;
    height: 70px;
}

.vue-icon {
    top: -27px;
    left: 32px;
    transform: rotate(-16.62deg);
}

.vue-icon .icon {
    margin-top: 8px;
}

.myop-icon {
    bottom: -10px;
    left: 30px;
    transform: rotate(16.78deg);
}

.component-inner-container {
    width: 325px;
    height: 270px;
    border-radius: 20px;
    background-color: #34495E;
    padding: 40px 24px;
}

.content-text {
    color: #fff;
}

.title {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 0px;
    text-transform: uppercase;
    max-width: 283px;
    margin-bottom: 0;
    margin-top: 0;
    text-align: left;
}

.subtitle {
    font-family: Plus Jakarta Sans;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0px;
    max-width: 264px;
    text-align: left;
    margin: 20px 0 0;
}

.buttons-container {
    display: flex;
    gap: 8px;
    height: 54px;
    margin-top: 20px;
}

.btn {
    border-radius: 80px;
    padding: 8px 24px;
    font-size: 16px;
    line-height: 24px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    transition: background 0.3s ease;
}

.btn-outline {
    background: #fff;
    color: #0A090A;
    display: flex;
    align-items: center;
    gap: 12px;
}

.btn-outline:hover {
    background: #e5e4e4;
}

.btn-primary {
    background: #48627B;
    color: #fff;
}

.btn-primary:hover {
    background: #55697d;
    color: #fff;
}
